﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FİLM KEYFİ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FİLM KEYFİ", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Anasayfa,  "Index", "Home")</li>
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Korku, "korku", "Home")</li>
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Gerilim, "gerilim", "Home")</li>
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Aile, "aile", "Home")</li>
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Komedi, "komedi", "Home")</li>
                    <li>@Html.ActionLink(b151210034_odev3.Resources.lang.Fantastik, "fantastik", "Home")</li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@b151210034_odev3.Resources.lang.Dil <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en", returnUrl = HttpContext.Current.Request.Url.AbsolutePath })">EN</a></li>
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "tr" , returnUrl = HttpContext.Current.Request.Url.AbsolutePath})">TR</a></li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ekrem KANDEMİR  b151210034 SAKARYA ÜNİVERSİTESİ </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
