﻿@{
    ViewBag.Title = "fantastik";
}

<font color="#FF3300"><b><h1>Fantastik FİLMLER</h1></b></font>

<div class="row" align="center">
    <div class="col-md-4">
        <font color="#FF3300"><h2>AVATAR</h2></font>
        <img src="~/resim/fantastik1.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#FF3300"><h2>Dorian Gray</h2></font>
        <img src="~/resim/fantastik2.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#FF3300"><h2>Captain Amerike</h2></font>
        <img src="~/resim/fantastik3.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#FF3300"><h2>Fantastik Dörtlü</h2></font>
        <img src="~/resim/fantastik4.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#FF3300"><h2>Safak Vakti</h2></font>
        <img src="~/resim/fantastik5.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
</div>