﻿@{
    ViewBag.Title = "gerilim";
}

<font color="#336600"><b><h1>Gerilim FİLMLERİ</h1></b></font>

<div class="row" align="center">
    <div class="col-md-4">
        <font color="#336600"><h2>Lemming</h2></font>
        <img src="~/resim/ger1.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#336600"><h2>The MACHİNİST</h2></font>
        <img src="~/resim/ger2.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#336600"><h2>Lucky</h2></font>
        <img src="~/resim/ger3.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#336600"><h2>AWOL</h2></font>
        <img src="~/resim/ger4.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#336600"><h2>THE OTHERS</h2></font>
        <img src="~/resim/ger5.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
</div>