﻿@{
    ViewBag.Title = "ANASAYFA";
}

<body bgcolor="#000000">
    <div class="jumbotron" align="center">

        <font color="FF0000"><h1><b>FİLM KEYFİ</b></h1></font>
        <font color="#CC6666"><p class="lead">    Dünyanın en iyi film indirme sitesine hoş geldiniz.Korku , gerilim , aile , komedi , fantastik katagorilerinden istediğinizi seçip istediğiniz filmi 4K film kalitesiyle izleyebilirsiniz.</p></font>
    </div>

    <div class="row" align="center">
       
        <div class="col-md-4">
            <font color="#009900"><h2>Oflu Hocanın Şifresi</h2></font>
            <img src="~/resim/komedi1.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#3399CC"><h2>Lanetli Ev</h2></font>
            <img src="~/resim/korku1.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#CC9999"><h2>Korku 1</h2></font>
            <img src="~/resim/korku6.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#3399CC"><h2>Tony 10</h2></font>
            <img src="~/resim/aile2.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#3399CC"><h2>Avatar</h2></font>
            <img src="~/resim/fantastik1.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#3399CC"><h2>Fantastik Dörtlü</h2></font>
            <img src="~/resim/fantastik4.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#009900"><h2>Recep İVEDİK</h2></font>
            <img src="~/resim/komedi4.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#CC9999"><h2>Vahşet Geçidi</h2></font>
            <img src="~/resim/korku2.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#009900"><h2>Adana İşi</h2></font>
            <img src="~/resim/komedi2.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#009900"><h2>Alacağımız Var</h2></font>
            <img src="~/resim/komedi3.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#CC9999"><h2>Lucky </h2></font>
            <img src="~/resim/ger3.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <font color="#CC9999"><h2>Avol</h2></font>
            <img src="~/resim/ger4.jpg" width="200px" height="300px" />
            <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
        </div>

    </div>
